"""
SQLALCHEMY_DATABASE_URI
    Almost every database engine is supported.
    Check out this link for more information about database URLs:
        https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls

SECRET_KEY
    You can create a secret key by running:
        python3 -c "import os; print(os.urandom(24).hex())"

TEMPLATES_AUTO_RELOAD
    Reload templates when they are changed.
    https://flask.palletsprojects.com/en/1.1.x/config/#TEMPLATES_AUTO_RELOAD

GAME_MODES
    Available game modes are "pictures" and "classic_XX".
    The classic mode is with words and the pictures mode (you guest it) with pictures.
    Please replace the XX with your language code matching the name of the words file
    inside the text2img directory.


See https://github.com/Schluggi/codenames for more information.
"""

SQLALCHEMY_DATABASE_URI = 'sqlite:///:memory:'
SECRET_KEY = '<insert your key here>'
TEMPLATES_AUTO_RELOAD = True

GAME_MODES = ['classic_de']
