.field-img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 20px;
    border: 10px solid rgb(227, 227, 227);
}

.col {
    max-width: 200px;
}

.score {
    font-size: 3rem;
}

#fields-left-red {
    color: red;
}

#fields-left-blue {
    color: blue;
}