/*.field-img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 20px;
    border: 10px solid rgb(227, 227, 227);
    transition: border-color 0.5s ease-out;
}*/

#start-game {

}

.field-img {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    border-radius: 20px;
    border: 10px solid rgb(227, 227, 227);
    transition: border-color 0.5s ease-out;
}

.wrapper > div {
    max-width: 202px;
    flex: 1 1 auto;
    text-align: center;
    margin: calc(5px / 2);
}

/*
.col {
    padding: 0px;
    margin: 5px;
}

.row {
    margin: 5px;
}*/

#start-game-form {
    max-width: 300px;
}

#start-game-form #submit {
    width: 100%;
}

#game-name {
    float: left;
}

#form-new-game{
    padding-right: 20px;
}

.navbar-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#scoreboard {
    float: left;
    font-weight: bold;
}

#layout {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.score {
    font-size: 3rem;
}

#score-red {
    color: #dd482a;
}

#score-blue {
    color: #3373b3;
}

.clickedField {
    cursor: default;
}

.pg {
    width: 30em;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 576px) {
    .pg {
        width: 20em;
    }
}

@media (max-width: 420px) {
    .pg {
        width: 15em;
    }
}

@media (max-width: 353px) {
    .pg {
        width: 10em;
    }
}