<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Codenames - by Schluggi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/static/css/codenames.css">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Codenames Pictures</a>
            </div>

            <div class="navbar-center">
                {% block navbar_center %}
                {% endblock %}
            </div>

            {% block navbar_right %}
            {% endblock %}
        </nav>

        {% block body %}
        {% endblock %}
    </body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block footer %}
    {% endblock %}
</html>