<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Codenames - by Schluggi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/static/css/codenames.css">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block footer %}
    {% endblock %}
</html>