{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="/static/css/game.css">
{% endblock %}


{% block navbar_center %}
    <label id="game-name" class="navbar-brand">{{ game.name }}</label>
    <div id="scoreboard">
        <div id="score-blue">{{ game.score_blue }}</div>
        <div id="score-red">{{ game.score_red }}</div>
    </div>
{% endblock %}


{% block navbar_right %}
    <form action="" method="post" novalidate id="form-new-game">
        {{ form.csrf_token }}
        {{ form.submit(class_="btn btn-danger", type_="button") }}
    </form>

    <div class="checkbox">
        <input type="checkbox"  data-toggle="toggle" id="spymaster">
        <label class="navbar-brand" for="spymaster">Spymaster</label>
    </div>
{% endblock %}


{% block body %}
        <div id="layout">
            <div class="grid-container" id="playground" data-game-id="{{ game.id }}">
                 {% for row in rows %}
                    <div class="row">
                        {% for img, field_id in row %}
                            <div class="col">
                                <img src="/static/img/codes/{{ img }}" class="field-img" id="field-{{ field_id }}">
                            </div>
                        {% endfor %}
                    </div>
                 {% endfor %}
            </div>
        </div>
{% endblock %}


{% block footer %}
    <script src="/static/js/bootstrap4-toggle.min.js"></script>
    <script src="/static/js/socket.io.slim.js"></script>
    <script src="/static/js/game.js"></script>
{% endblock %}
