{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}

{% block body %}
	<center>
		<br><br><br>
		<form id="start-game-form" action="" method="post">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.game_name(size=32, class_="form-control") }}
			</div>
			<div class="form-group">
				{{ form.username(size=32, class_="form-control") }}
			</div>
			{{ form.submit(type_="button", class_="btn btn-success") }}
		</form>
	</center>
{% endblock %}
